body {
	background-color: #EECFA1;
}
.ziti {
	font-size: 18px;
	font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
}

#zhong {
	width: 800px;
	margin: auto;
	position: relative;	
}
#select {
	height: 200px;
}
.in_select {
	width: 200px;
	height: 200px;
	position: absolute;
	border-radius:100px;
	text-align: center;
	line-height:200px;
	font-family: arial;
	font-size: 50px;
	color: white;
}

#select .layer {
	height: 200px;
	background-color: black;
	border-radius:100px;
	opacity: 0.5;
	display: none;
}

#se1 {
	background: url(../image/lunch.jpg);
	background-size: 200px 200px;
}

#se2 {
	left: 300px;
	background: url(../image/htea.jpg);
	background-size: 200px 200px;
}

#se3 {
	left: 600px;
	background: url(../image/dinner.jpg);
	background-size: 200px 200px;
}

form {
	margin-top: 50px;
}

#zhong #time_se {
	width: 700px;
	margin: auto;
}

#zhong button {
	width: 200px;
	height: 50px;
	margin-left: 300px;
	background-color:;
}

#zhong #text_ {
	margin-right: 50px;
}