#zhong {
	width: 35%;
	margin-left: 38%;
	margin-top: 10%;
}
body {
	background: url(../image/back.jpg);
	background-size: 90%;
}

.input_ {
	height: 35px;
	margin-bottom: 20px;
	
}

.input_lei {
	width: 70px;
	height: 35px;
	float: left;
	text-align: right;	
}

.input_text {
	background-size: 100%;
	width: 280px;
	height: 35px;
	float: left;
}

.input_ input {
	height: 18px;
	padding: 8px;
	width: 250px;
}

.error {color: #FF0000;}