#shang {
	height: 200px;
	background-color: red;
	background-color: red\9;
	/*position: absolute;
	top:200px;*/
}

#zhong {
	height: 400px;
	background-color: blue;
}

#xia {
	height: 150px;
	background-color: yellow;
	
}

/*#fou {
	height: 150px;
	width: 350px;
	background-color: green;
	
}*/

#zhong .zhong_ {
	float: left;
}

#zuo {
	width: 500px;
	height: 400px;
	background-color: green;
}

#youshang {
	background-color: white;
}

#youxia {
	background-color: black;
}

#youshang, #youxia {
	height: 200px;
}